<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:insert="common/header :: header"/>
    <form method="post" action>
        <input type="text" name="name" placeholder="Enter name">
        <input type="text" name="about" placeholder="Write something about meeting">
        <input type="datetime-local" name="date" pattern="yyyy.MM.dd HH:mm">
        <select name="manager_id">
            <option th:each="user : ${users}"
                    th:value="${user.id}"
                    th:text="${user.name}">
            </option>
        </select>
        <input type="submit" content="Create">
    </form>
    <div th:insert="common/footer :: footer"/>
</body>
</html>