<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:insert="common/header :: header"/>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <a href="/users/add">Create new user</a>
    <a href="/users/all">Show all user</a>
    <a href="/meetings/add">Create new meeting</a>
    <a href="/meetings/all">Show all meetings</a>
</body>
</html>